<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Cantores</title>
</head>
<body>

<h1>Lista de Cantores</h1>
<a href="{% url 'cadastrar_cantores'%}"> Cadastro Novo Cantores </a>
<ul>
    {%for cantor in cantores%}
    <li>
        {{ cantores.nome}} ({{cantores.tipo}})
        <a href="{% url 'editar_cantores' cantores.id %}"> Editar</a> |
        <a href="{% url 'excluir_cantores' cantores.id %}"> Excluir</a>
    </li>
    {% endfor %}
</body>
</html>