<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro estadoent</title>
</head>
<body>
    <h1>{% if estilo %}Editar Estilo{% else %}Cadastrar Estilo{% endif %}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome"
        value="{%if estilo %}{{estilo.nome}}{%endif%}">
        <br>
        <label for="sigla">Sigla</label>
        <input type="text" name="sigla" id="sigla">
        <br>
    <input type="submit" value="enviar"> 
    </form>
    <a href="{%url 'listar_estilos'}">voltar para a lista"> </a>
</body>
</html>
   